Source: com.github.evan-buss.22
Section: x11
Priority: extra
Maintainer: Evan Buss <evan.buss28@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               libgranite-dev,
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1
Package: com.github.evan-buss.22
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A lightweight ebook manager.
