Source: com.github.evan-buss.yin-yang
Section: x11
Priority: extra
Maintainer: Evan Buss <evan.buss28@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               libunity-dev,
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.evan-buss.yin-yang
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Yin and Yang
 This is a an application to systematically toggle many different application's themes together.
